@import "tailwindcss";

@theme {
  --color-primary: oklch(0.4956 0.2791 263.86);
  --color-primary-foreground: oklch(0.9421 0.0115 263.86);
  --color-background: oklch(0.0757 0.0115 263.86);

  --animate-copied: copied 2s ease-out forwards;
  --animate-pulse: pulse 2s ease-in-out infinite;
  --animate-pulse-background: pulse-background 2s ease-in-out infinite;

  @keyframes copied {
    0%, 100% {
      opacity: 0;
      transform: translate(0, -1rem);
    }
    5%, 95% {
      opacity: 1;
      transform: translate(0, -2rem);
    }
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 0.6;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  @keyframes pulse-background {
    0%, 100% {
      opacity: 0.02;
    }
    50% {
      opacity: 0.04;
    }
  }
}
